[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs="*"
mkdocs-material="*"
beautifulsoup4 = "*"
requests = "*"
markdownify = "*"
tqdm = "*"

[requires]
python_version="^3.8"
